@font-face {
  font-family: 'Poppins Regular';
  src: url('./Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins Medium';
  src: url('./Poppins-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins Bold';
  src: url('./Poppins-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins Italic';
  src: url('./Poppins-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Inter';
  src: local('Inter'), local('system-ui');
  font-weight: 400;
  font-style: normal;
}